:root {
    --primary-white: #FFFFFF;
    --secondary-gray: #C0C0C0;
    --blue-button: #167BF7;
    --background-color: #00030C;
    --primary-font: 'Inter';
    --blue-button-hover: #ff334a;
}

body {
    background-color: var(--background-color);
    color: var(--primary-white);
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url("./img/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__button {
    background-color: var(--blue-button);
    border-radius: 5px;
    padding: 1em;
    color: var(--primary-white);
    display: block;
    text-decoration: none;
    margin: 1em 2em;
    transition: 0.3s;
}

.secondary__button {
    background-color: transparent;
    border: 2px solid var(--primary-white);
}

.container__warning {
    font-size: 12px;
    color: var(--secondary-gray);
}

.container__title {
    font-size: 28px;
    font-weight: 700;
}

.container__image {
    margin: 1em 0 3em 0;;
}

.container__box{
    margin: 0 5em;
}

.secondary__image {
    width: 80%;
    margin: 0 2em;
}

.secondary {
    align-items: center;
    margin: 2em 10em;
}

.description__title {
    font-weight: 700;
    font-size: 48px;
    color: var(--primary-white);
    margin-bottom: 0.1em;
}

.description__text {
    color: var(--secondary-gray);
    line-height: 150%;
}

.subscribe {
    display: flex;
}

.container__description__subscribe {
    display: flex;
    
}

.subscribe__contents {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button__secondary {
    display: inline-block;
    width: 30%;
    margin: 1em 0;
}

.devices {
    text-align: center;
    font-family: var(--primary-font);
}

.devices__title {
    font-size: 48px;
    color: var(--primary-white);
}

.devices__list {
    display: flex;
    justify-content: center;
    margin: 5em 0;
    list-style-type: none;
}

.list__item {
    font-size: 32px;
    color: var(--primary-white);
}

.footnote {
    text-align: center;
    justify-content: center;
    margin: 4em 12em;
}

.footnote__logo {
    margin-bottom: 2em;
}

.footnote__list {
    display: flex;
    justify-content: center;
    gap: 1em;
    list-style-type: none;
    margin: 1em 0;
}

.list__link {
    text-decoration: none;
    color: var(--primary-white);
    font-size: 16px;
    font-family: var(--primary-font);
    transition: 0.3s;
}

.footnote__text {
    font-size: 14px;
    color: var(--secondary-gray);
    font-family: var(--primary-font);
    line-height: 150%;
    margin: 1.5em 0;
}

.endpage {
    margin-bottom: 6em;
}

.list__link:hover {
    color: var(--blue-button);
}

.list__link:active {
    color: var(--blue-button-hover);
}

.container__button:hover {
    color: var(--primary-white);
    background-color: var(--blue-button-hover);
}

@media screen and (max-width: 1024px) {
    
    .main {
        background-image: none;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .container__box {
        margin: 0 5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container__button {
        display: inline-block;
        width: 70%;
    }

    .secondary {
        margin: 0 10em 5em;
    }

    .secondary__image {
        width: 60%;
        margin: 2em 2em;
    }

    .container__description__subscribe {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
    }

    .subscribe__contents {
        align-items: center;
    }

    .description__text {
        margin: 1em 1em;
    }

    .devices__title {
        margin: 0 5em;
    }

    .devices__list {
        margin: 5em 5em;
    }

    .list__item {
        font-size: 22px;
    }

    .item__img {
        width: 60%;
    }

    .footnote {
        margin: 5em 12em 4em;
    }

    @media screen and (max-width: 700px) {

        .container__image {
            width: 90%;
        }

        .secondary__image {
            width: 80%;
        }

        .secondary {
            margin: 0 3em 5em;
        }

        .devices__title {
            margin: 0 2em;
            font-size: 32px;
            
        }

        .devices__list {
            flex-direction: column;
            margin: 5em 3em;
        }

        .footnote {
            margin: 5em 3em 4em;
        }
        
        .footnote__list {
            flex-direction: column;
        }
    }
}